/* header */

/* navbar */
nav {
    /* background:#c8eaea; */
}

@media (min-width: 992px) {
    .navbar {
        flex-flow: column nowrap;
    }
    .fromTop {
        animation-name: fromTop;
        animation-duration: 1.5s;
    }
}

@keyframes fromTop {
    0% {
        transform: translateY(-180px);
    }
    100% {
        transform: translateY(0);
    }
}
/* end of navbar */

/* button */
#menu-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    border-width: 0;
}

#menu-toggler:focus {
    outline: none;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* end of button */

/* menu */
.link-separator {
    user-select: none;
}

@media (max-width: 991px) {
    .collapse.show a, .collapsing a {
        font-size: 1.4rem;
    }

    .collapse.show .link-separator, .collapsing .link-separator {
        display: none;
    }

    #navbarSupportedContent {
        background: #fff;
        position: absolute;
        top: 100px;
        z-index: 1000;
    }
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: .6s;
}

.menu2.fromLeft {
    animation-delay: .1s;
    animation-fill-mode: backwards;
}

.menu3.fromLeft {
    animation-delay: .2s;
    animation-fill-mode: backwards;
}

.menu4.fromLeft {
    animation-delay: .3s;
    animation-fill-mode: backwards;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* end of menu */

/* end of header */

/* main */

/* end of main */

/* gallery */
.fromDown {
    animation-name: fromDown;
    animation-duration: 1.5s;
}

@keyframes fromDown {
    0% {
        transform: translateY(120px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.masonry {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 0;
}
/* enf of gallery */
